:root {
    --blue: #5C90FF;
    --orange: orange;
    --gray: #f8f8f8;
    margin: 0;
}

*:not(i) {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.product-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;  
    padding: 40px 0;
    width: fit-content;    
    gap: 20px;
    flex-flow: row wrap;  
}

.product-list__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 270px;
    height: 482px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;       
}

.product-list__card:hover {
    outline: 1px solid #5C90FF;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.product-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px; 
    text-decoration: none;
}

.product-list__card img {
    height: 250px;
    width: 250px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.product-item__name {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    font-size: 24px;
    color: #5C90FF;
}

.product-item__price {
    display: flex;
    justify-content: center;
    color: orange;
    font-size: 32px;
    font-weight: bold;
}

.product-item__price-description {
    display: flex;
    justify-content: center;
    color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

.product-item__description {
    display: flex;
    justify-content: center;
}

.product-item__buy-button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #5C90FF;
    border: none;
    color: white;
    margin: 0 30%;
    font-size: 20px;
    padding: 6px 12px;
}

.product-item__buy-button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}